<div class="brand">CeleBrazil</div>
<div class="address-bar">440 College St | Toronto, ON M5T 1T3 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Products Available to Order</strong>
                </h2>
                <hr>
            </div>

            <div class="col-lg-12 text-center">
                <p>The products below are available for you to order.</p>
                <p>Just choose whatever you want and your order will be sent for us.</p>
                <p>We will get in touch to set the details.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="row">

        <div class="box">

          <div class="text-right">
            <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
          </div>

          <% @products.each do |product| %>
            <div class="col-md-4 portfolio-item">
                <%= link_to(image_tag(product.product_image.url(:medium)), product_path(product)) %>
                <h4>
          
                    <%= form_for @order_item, remote: true do |f| %>
                    
                      <p><h4 class="text-left"><span style="color: green"><%= product.title %></span></h4></p>
                      <p>Presentation: <%=product.portion.description %></p>
                      <p>>Price: <span style="color: green"><%= number_to_currency product.unit_price %></span></p>
                      
                      <div class="input-group">
                        <%= f.number_field :qty, value: 1, class: "form-control", min: 1 %>
                        
                        <div class="input-group-btn">
                          <%= f.hidden_field :product_id, value: product.id %>
                          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                        </div>
                        
                      </div>
                      
                    <% end %>
                    
                </h4>
            </div>
          <% end %>

        </div>
        
    </div>

</div>
<!-- /.container -->


