<div class="brand">CeleBrazil</div>
<div class="address-bar">440 College St | Toronto, ON M5T 1T3 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">

        <div class="box">

            <div class="form-inputs">
              <%= image_tag @product.product_image.url(:medium) %>
            </div>
          
            <div class="form-inputs">
              <%= @product.title %>
            </div>
          
            <div class="form-inputs">
              <%= @product.description %>
            </div>
          
            <div class="form-inputs">
              <%= @product.ingredients %>
            </div>
          
            <div class="form-">
              <%= @product.portion.description %>
            </div>
          
            <div class="form-inputs">
              <%= @product.min_portion %>
            </div>
          
            <div class="form-inputs">
              <%= @product.unit_price %>
            </div>
          
            <div class="form-inputs">
              <%= @product.product_active %>
            </div>

          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>

        </div>
        
    </div>

</div>
<!-- /.container -->

